.myTable,
.table th {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}
@import url(https://fonts.googleapis.com/css?family=Exo);
body {
  font-family: Exo, sans-serif;
}
.myTable {
  margin-top: 50px;
}
.myAlert {
  margin: 50px 0 0;
}
.alert h4 {
  margin: 0;
}
span {
  color: red;
}
